[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "iprior"]
	path = iprior
	url = https://github.com/haziqj/iprior
	shallow = true
	registered = true
